/* Main page, section skolioApp Styling */
@media (max-width: 575.98px) { .app_UpperContainer { margin: 0 10px; } }

.app_LowerContainer { display: flex; margin-top: 50px; }
@media (max-width: 575.98px) { .app_LowerContainer { flex-direction: column; } }

.app_ImageContainer { width: 50%; height: 100%; }
.app_ImageContainer img { width: 80%; object-fit: contain; }
@media (max-width: 575.98px) { .app_ImageContainer { width: 100%; display: flex; justify-content: center; } }

.app_FeatureContainer { width: 50%; }
.app_FeatureContainer div:first-child { margin-top: 0; }
@media (max-width: 575.98px) { .app_FeatureContainer { width: 100%; margin-top: 50px; padding: 0 10px; display: flex; flex-direction: column; }
  .app_FeatureContainer button { width: 90%; align-self: center; margin-top: 15px; } }

.app_FeatureWrapper { display: flex; margin: 50px 0; gap: 25px; }
@media (max-width: 575.98px) { .app_FeatureWrapper { margin: 15px 0; gap: 10px; } }

.app_FeatureIcon { align-self: center; }
@media (max-width: 575.98px) { .app_FeatureIcon { align-self: start; } }

.app_FeatureText p:nth-child(2) { margin-bottom: 0; }

.app_FeatureHeading { font-family: "Mulish-Bold", sans-serif; margin-bottom: 8px; }
