<link rel="stylesheet" property="stylesheet" href="assets/css/components/contact-form.css">
<div class="FormWrapper">
    <p class="normal">Willst Du noch mehr über Skolio erfahren? Hast du Feedback für uns?
        Schicke uns einfach eine Nachricht und wir antworten Dir.</p>
    <div class="FormImage">
        <img src="assets/images/spine-graphic.svg" alt="Grafik einer Wirbelsäule">
    </div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="mail">E-Mail</label>
    <input type="email" name="name" id="mail">
    <br>
    <label for="message">Nachricht an uns</label>
    <br>
    <textarea type="text" name="name" id="message"></textarea>
    <br>
    <input type="checkbox" name="dataPrivacy" id="dataPrivacy">
    <label for="dataPrivacy">Ich stimme zu, dass meine Angaben aus dem Kontaktformular zur Beantwortung meiner Anfrage
        erhoben und verarbeitet werden.<br>
        Weitere Informationen hierzu in unserer
        <a href="dataPrivacy.html">Datenschutzerklärung</a>
    </label>
    <br>
    <button class="green">Absenden</button>
</div>