<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="/assets/css/default.css">
        
        {%- if page.style -%}
        <link rel="stylesheet" href="/assets/css/{{ page.style }}">
        {%- endif -%}
        
        {%- if layout.style -%}
        <link rel="stylesheet" href="/assets/css/{{ layout.style }}">
        {%- endif -%}

        {%- if page.preamble -%}
        <link rel="stylesheet" href="/assets/css/{{ page.preambleStyle }}">
        {%- endif -%}
    </head>
    <body>
        {%- if page.preamble -%}
        {% capture preamble %}{% include {{page.preamble}} %}{% endcapture %}
        {{ preamble | markdownify }}
        {%- endif -%}
        
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>