/* Primary Color */
$skolio-yellow-default: #FEC472;
$skolio-yellow-hovered: #F2B661;
$skolio-yellow-pressed: #E5A850;
$skolio-yellow-lighter-1: #FECF8C;
$skolio-yellow-lighter-2: #FED9A5;
$skolio-yellow-lighter-3: #FEE4BE;
$skolio-yellow-lighter-4: #FFEFD9;

/* Secondary Color */
$skolio-green-default: #C1DAB9;
$skolio-green-hovered: #9ABF8F;
$skolio-green-pressed: #79A66C;
$skolio-green-darker-1: #427334;
$skolio-green-darker-2: #2C591F;

/* Accent Color */
$skolio-blue-default: #8DC2D9;
$skolio-blue-hovered: #69A5BF;
$skolio-blue-pressed: #4B8AA6;
$skolio-blue-darker-1: #31708C;
$skolio-blue-darker-2: #1D5873;

/* Warning Color */
$skolio-red-default: #FE7B59;
$skolio-red-hovered: #E56645;
$skolio-red-pressed: #D94F2B;

/* Standard Colors */
$skolio-white: #FFFFFF;
$skolio-light-grey: #CDCDCD;
$skolio-medium-grey: #717171;
$skolio-black: #000000;