.Header_Container {
  justify-content: space-between;
  background-color: $skolio-yellow-default;
  padding: 20px 10%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 20px 16px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  width: 150px;
}

.dropbtn:hover {
  background-color: $skolio-yellow-hovered;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $skolio-yellow-hovered;
  min-width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  top: 40px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $skolio-yellow-lighter-1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
