@import "colors.scss";
@import "fonts.scss";

/* Universal style definitions across all pages */

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Mulish-Bold", sans-serif;
}

h2 {
  font-family: "Mulish-Bold", sans-serif;
}

.FlexDiv {
  display: flex;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
}

.SectionWrapper {
  padding: 0 10% 50px 10%;
}

button {
  font-size: 14px;
  line-height: 18px;

  padding: 10px 15px;

  border-style: none;
  border-radius: 10px;
}
/* Styling for blue buttons */
button.blue{
  background-color: $skolio-blue-default;
}

button.blue:hover{
  background-color: $skolio-blue-hovered;
}

button.blue:active{
  background-color: $skolio-blue-pressed;
}
