---
---

@import "breakpoints";

/* Main page, section contact Styling */
.contact_ImgWrapper {
  display: none;

  @include media-breakpoint-down(lg) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.contact_ContentContainer {
  margin-top: 10px;

  @include media-breakpoint-down(lg) {
    margin-top: 50px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 10px;
    padding: 0 10px;
  }
}