---
---

@import "breakpoints";

/* Main page, section patients Styling */
.patients_TextContainer {
  width: 50%;
}

.patients_ImgContainer {
  width: 50%;
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(lg) {
    width: 30%;
  }

  @include media-breakpoint-down(sm) {
    width: 10%;
  }

  img {
    width: inherit;
  }
}