---
---

@import "breakpoints";

/* Main page, section physio Styling */
.physio_ContentWrapper {
  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
}

.physio_TextContainer {
  display: flex;
  justify-content: right;

  div {
    width: 50%;
  }

  @include media-breakpoint-down(lg) {
    margin-top: 65%;
    padding: 0 10px;

    div {
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 55%;
  }
}

.physio_TextWrapper {
  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: column;

    button {
      align-self: start;
      margin-top: 15px;
    }
  }
}

.physio_ImgContainer {
  width: 45%;
  height: 90%;
  position: absolute;
  left: 0;
  top: 40px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    height: unset;
    top: 0;
  }
}