---
---

@import "breakpoints";

/* Main page, section skolioApp Styling */
.app_UpperContainer {
  @include media-breakpoint-down(sm) {
    margin: 0 10px;
  }
}

.app_LowerContainer {
  display: flex;
  margin-top: 50px;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
}

.app_ImageContainer {
  width: 50%;
  height: 100%;

  img {
    width: 80%;
    object-fit: contain;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}