---
---

@import "breakpoints";

/* Main page, section skolioApp Styling */
.app_UpperContainer {
  @include media-breakpoint-down(sm) {
    margin: 0 10px;
  }
}

.app_LowerContainer {
  display: flex;
  margin-top: 50px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.app_ImageContainer {
  width: 50%;
  height: 100%;

  img {
    width: 80%;
    object-fit: contain;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.app_FeatureContainer {
  width: 50%;

  div:first-child {
    margin-top: 0;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-top: 50px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;

    button {
      width: 90%;
      align-self: center;
      margin-top: 15px;
    }
  }
}

.app_FeatureWrapper {
  display: flex;
  margin: 50px 0;
  gap: 25px;

  @include media-breakpoint-down(sm) {
    margin: 15px 0;
    gap: 10px;
  }
}

.app_FeatureIcon {
  align-self: center;

  @include media-breakpoint-down(sm) {
    align-self: start;
  }
}

.app_FeatureText {
  p:nth-child(2) {
    margin-bottom: 0;
  }
}

.app_FeatureHeading {
  font-family: "Mulish-Bold", sans-serif;
  margin-bottom: 8px;
}