---
---
@import "breakpoints";

/* Blog page Styling */
.Blog_ContentWrapper {
  h1 {
    margin-bottom: 60px;
  }

  div:nth-child(odd) {
    .Blog_PostContent {
      order: -1;
    }
  }

  @include media-breakpoint-down(lg) {
    h1 {
      margin-bottom: 40px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 0 10px;

    h1 {
      margin-bottom: 20px;
    }

    div:nth-child(odd) {
      .Blog_PostContent {
        order: 0;
      }
    }
  }
}

.Blog_PersonWrapper {
  display: flex;
  align-items: start;
  gap: 40px;
  margin-bottom: 40px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    gap: unset;
    align-items: center;
  }
}

.Blog_PersonImage {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    object-fit: contain;
  }

  p {
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    width: 70%;
  }
}

.Blog_PostContent {
  width: 85%;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}