---
---
@import "colors";
@import "breakpoints";

/* FAQ page Styling */
.faq_ContentWrapper {
  @include media-breakpoint-down(sm) {
    padding: 0 10px;
  }
}

.faq_IntroParagraph {
  margin-bottom: 40px;
}

.accordion-item {
  border-style: none;
  border-top: 1px solid $skolio-light-grey;
}

.accordion-item:first-of-type {
  border-radius: unset;
}

.accordion-item:not(:first-of-type) {
  border-style: none;
  border-top: 1px solid $skolio-light-grey;
}

.accordion-item:last-of-type {
  border-radius: unset;
  border-bottom: 1px solid $skolio-light-grey;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: unset;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: unset;
}

.accordion-button {
  font-size: 20px;
  line-height: 32px;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem $skolio-yellow-400;
}

.accordion-button:not(.collapsed) {
  color: $skolio-black;
  background-color: unset;
  box-shadow: none;
}

.accordion-body {
  font-size: 16px;
  line-height: 24px;
}