---
---

@import "breakpoints";

/* Imprint page Styling */
.imprint_ContentWrapper {
  @include media-breakpoint-down(sm) {
    padding: 0 10px;
  }
}
.imprint_SectionContainer {
  margin: 20px 0;
}

.imprint_HeadParagraph {
  font-family: "Mulish-Bold", sans-serif;
  margin-bottom: 0;
}