---
---
@import "colors";
@import "breakpoints";

/* Skolio App page Styling */
.App_ContentWrapper {
  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.App_PersonContainer {
  padding: 15px 0;
  gap: 20px;
}

.App_PersonWrapper {
  display: flex;
  align-items: center;
  gap: 40px;

  @include media-breakpoint-down(lg) {
    align-items: start;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    gap: unset;
    align-items: center;
  }
}

.App_PersonText {
  width: 75%;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.App_PersonImage {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    object-fit: contain;
  }

  p {
    font-weight: bold;
    margin-top: 15px;
  }

  @include media-breakpoint-down(sm) {
    width: 90%;
  }
}

.App_SwitchPersonOrder {
  @include media-breakpoint-down(sm) {
    order: -1;
  }
}

.App_ContentContainer {
  display: flex;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 30px;
  }
}

.App_TextContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}

.App_ImgContent {
  width: 50%;
  display: flex;
  justify-content: center;

  img {
    width: 70%;
    object-fit: contain;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;

    img {
      width: 60%;
    }
  }

  @include media-breakpoint-down(sm) {
    img {
      width: 100%;
    }
  }
}

.App_SwitchOrder {
  @include media-breakpoint-down(lg) {
    order: -1;
  }
}