---
---
@import "colors";
@import "breakpoints";

/* Specialists page Styling */
.Specialists_FeatureWrapper {
  width: 75%;

  .FeatureContainer {
    width: 75%;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    padding: 0 10px;

    .FeatureContainer {
      width: 100%;
    }
  }
}

.Specialists_Link {
  br {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 10px;

    br {
      display: block;
    }
  }
}

.Specialists_ImgWrapper {
  width: 35%;
  position: absolute;
  right: 0;
  bottom: 60px;

  display: flex;
  justify-content: right;

  img {
    width: 80%;
    object-fit: cover;
  }

  @include media-breakpoint-down(lg) {
    bottom: unset;
    top: -150px;

    img {
      width: 45%;
    }
  }

  @include media-breakpoint-down(sm) {
    top: -110px;

    img {
      width: 80%;
    }
  }
}