---
---

@import "colors";
@import "breakpoints";

/* Components, contact-form Styling */
.FormWrapper {
  position: relative;
  width: 60%;

  textarea {
    width: 100%;
    min-height: 200px;

    border: 2px solid $skolio-black;
    border-radius: 16px;

    margin-bottom: 16px;
    padding: 10px 16px;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;

    form {
      display: flex;
      flex-direction: column;

      br {
        display: none;
      }
    }
  }
}

.form_SmallLabel {
  font-size: 12px;
  line-height: 16px;

  padding-left: 10px;
}

.form_TextInput {
  width: 50%;

  border: 2px solid $skolio-black;
  border-radius: 16px;

  margin-bottom: 16px;
  padding: 10px 16px;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}

.form_CheckboxContainer {
  display: flex;
  align-items: baseline;
}

.form_Checkbox {
  appearance: none;
  background-color: $skolio-white;
  margin: 0;

  width: 24px;
  height: 24px;
  border: 2px solid $skolio-black;
  border-radius: 4px;
  padding: 10px;

  display: grid;
  place-content: center;
}

.form_Checkbox:checked {
  background-color: $skolio-green-default;
}

.form_Checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  transform: scale(0);

  box-shadow: inset 1em 1em $skolio-black;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.form_Checkbox:checked::before {
  transform: scale(1);
}

.form_CheckboxLabel {
  margin-left: 10px;
}

.form_ContactBtn {
  margin-top: 16px;
  margin-right: 20px;

  img {
    margin-right: 10px;
  }

  @include media-breakpoint-down(lg) {
    align-self: start;
    margin-top: 25px;
    margin-right: 0;
  }
}

.form_RequiredInfo {
  font-style: italic;
}