/* Color Definitions */
/* Skolio Yellow */
$skolio-yellow-100: #FEF4E5;
$skolio-yellow-200: #FEEED8;
$skolio-yellow-300: #FEE9CB;
$skolio-yellow-400: #FED9A5;
$skolio-yellow-500: #FECA7F;
$skolio-yellow-600: #F2B661;
$skolio-yellow-700: #E5A345;
$skolio-yellow-800: #D9912B;
$skolio-yellow-900: #CC8014;

/* Skolio Red */
$skolio-red-100: #FEF4F1;
$skolio-red-200: #FEEAE5;
$skolio-red-300: #FE7B59;
$skolio-red-400: #F26C49;
$skolio-red-500: #D95836;
$skolio-red-600: #CC4C2B;
$skolio-red-700: #BF3E1D;
$skolio-red-800: #942204;
$skolio-red-900: #661500;

/* Skolio Green */
$skolio-green-100: #E7F2E4;
$skolio-green-200: #DDEDD8;
$skolio-green-300: #C1DAB9;
$skolio-green-400: #90B286;
$skolio-green-500: #668C5B;
$skolio-green-600: #58804D;
$skolio-green-700: #4B733F;
$skolio-green-800: #315726;
$skolio-green-900: #204016;

/* Skolio Blue */
$skolio-blue-100: #F2FBFF;
$skolio-blue-200: #E8F8FF;
$skolio-blue-300: #8DC2D9;
$skolio-blue-400: #69A5BF;
$skolio-blue-500: #4B89A6;
$skolio-blue-600: #3D7D99;
$skolio-blue-700: #31708C;
$skolio-blue-800: #144D66;
$skolio-blue-900: #053145;

/* Skolio Grey */
$skolio-grey-100: #E6E6E6;
$skolio-grey-200: #CCCCCC;
$skolio-grey-300: #B3B3B3;
$skolio-grey-400: #999999;
$skolio-grey-500: #808080;
$skolio-grey-600: #666666;
$skolio-grey-700: #4D4D4D;
$skolio-grey-800: #333333;
$skolio-grey-900: #1A1A1A;

/* Standard Colors */
$skolio-white: #FFFFFF;
$skolio-black: #000000;