/* Color Definitions */
/* Primary Color */
$skolio-yellow-default: #FEC472;
$skolio-yellow-hovered: #F2B661;
$skolio-yellow-pressed: #E5A850;

$skolio-yellow-500: #FECA7F;
$skolio-yellow-700: #E5A345;

$skolio-yellow-800: #D9912B;
$skolio-yellow-900: #CC8014;

$skolio-yellow-100: #FEF4E5;
$skolio-yellow-200: #FEE9CB;
$skolio-yellow-300: #FEDFB2;
$skolio-yellow-400: #FED498;
$skolio-yellow-lighter-1: #FECF8C;
$skolio-yellow-lighter-2: #FED9A5;
$skolio-yellow-lighter-3: #FEE4BE;
$skolio-yellow-lighter-4: #FFEFD9;

/* Secondary Color */
$skolio-red-default: #FE7B59;
$skolio-red-hovered: #E56645;
$skolio-red-pressed: #CC4B29;
$skolio-red-800: #B23312;
$skolio-red-900: #992000;

$skolio-red-100: #FECCBE;
$skolio-red-200: #FEB8A5;
$skolio-red-300: #FEA38C;
$skolio-red-400: #FE8F72;

/* Accent Color */
$skolio-green-default: #C1DAB9;
$skolio-green-hovered: #9ABF8F;
$skolio-green-pressed: #79A66C;
$skolio-green-800: #4B733F;
$skolio-green-900: #25401D;

$skolio-green-300: #F5FFF2;
$skolio-green-400: #DFF2DA;
$skolio-green-darker-1: #427334;
$skolio-green-darker-2: #2C591F;

/* Standard Colors */
$skolio-white: #FFFFFF;
$skolio-light-grey: #CDCDCD;
$skolio-medium-grey: #717171;
$skolio-black: #000000;