/* Font Definitions */
@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/Mulish-Regular.ttf");
}

@font-face {
  font-family: "Mulish-Bold";
  src: url("/assets/fonts/Mulish-Bold.ttf");
}

@font-face {
  font-family: "Mulish-Light";
  src: url("/assets/fonts/Mulish-Light.ttf");
}