/* Header Styling */
.Header_Container {
  position: sticky;
  top: 0;
  padding: 20px 0;

  z-index: 10;
  background-color: $skolio-white;


.Header_Background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
  background-image: linear-gradient(rgba(254,212,152,0.6), rgba(254,212,152,0.1));
}

.Header_BrandContainer {
  width: 20%;

  img {
    height: 40px;
  }

  .openNav{
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
      position: absolute;
      top: 1rem;
      left: 2rem;
    }
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.Header_NavContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: right;



  @include media-breakpoint-down(lg) {
      display: none;
  }

  @include media-breakpoint-down(sm) {
    width: 10%;
  }

  .navBtn {
    font-size: 16px;
    line-height: 24px;
  
    padding: 25px 20px;
    color: $skolio-black;
    text-decoration: none;
  }
  
  .navBtn:hover {
    font-weight: bold;
    color: $skolio-red-hovered;
  }
}

/* Styling for dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $skolio-yellow-100;
  min-width: 130px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  top: 50px;
}

.dropdown-content a {
  font-size: 16px;
  line-height: 24px;
  padding: 25px 20px;
  color: $skolio-black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  font-weight: bold;
  color: $skolio-red-hovered;
}

.dropdown:hover .dropdown-content {
  display: block;
}

}

/* Styling for mobile navigation */
.mobileNav {
  height: 100vh; 
  width: 0; 
  position: fixed;
  z-index: 20; 
  top: 0;
  left: 0;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
  background-color: #ffff;
  background-image: linear-gradient(rgba(254,212,152,0.6), rgba(254,212,152,0.1));
  nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    .navBtn {
      font-size: 16px;
      line-height: 24px;
      color: $skolio-black;
      text-decoration: none;
    }
    .navBtn:hover {
      font-weight: bold;
      color: $skolio-red-hovered;
    }
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: $skolio-black;
    text-decoration: none;
    &:hover{
      font-weight: bold;
      color: $skolio-red-hovered;
    }
  }
}

.mobileWidth{
  width: 375px;
  @include media-breakpoint-down(sm) {
    width: 100vw;
  }
}
