@import "bootstrap/scss/bootstrap.scss";
@import "colors.scss";
@import "fonts.scss";
@import "header.scss";
@import "footer.scss";


/* Universal style definitions across all pages */

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Mulish-Bold", sans-serif;
}

h2 {
  font-family: "Mulish-Bold", sans-serif;
}

.FlexDiv {
  display: flex;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
}

.SectionWrapper {
  padding: 0 10% 50px 10%;
}

button {
  font-size: 14px;
  line-height: 18px;

  padding: 10px 15px;

  border-style: none;
  border-radius: 10px;
}

/* Styling for yellow buttons */
button.blue{
  background-color: $skolio-yellow-default;
}

button.blue:hover{
  background-color: $skolio-yellow-hovered;
}

button.blue:active{
  background-color: $skolio-yellow-pressed;
}

/* Styling for red buttons */
button.blue{
  background-color: $skolio-red-default;
}

button.blue:hover{
  background-color: $skolio-red-hovered;
}

button.blue:active{
  background-color: $skolio-red-pressed;
}

/* Styling for green buttons */
button.blue{
  background-color: $skolio-green-default;
}

button.blue:hover{
  background-color: $skolio-green-hovered;
}

button.blue:active{
  background-color: $skolio-green-pressed;
}
