<div class="FlexDiv Footer_Container">
    <div>
        <h3>Skolio</h3>
        <p>We've got your back.</p>
        <button>Google Play</button>
        <button>App Store</button>
    </div>
    <div>
        <nav>
            {% for site in site.data.footer_navigation %}
            <a href="{{site.url}}">{{site.title}}</a>
            {% endfor %}
        </nav>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>