<div class="patients_ContentWrapper FlexDiv">
    <div class="patients_TextContainer">
        <h2>Du hast die Diagnose Skoliose erhalten?</h2>
        <p class="large">Hier findest Du als betroffene Person Rückhalt</p>
        <p class="normal">Eine Skoliose hat nichts mit schlechter Haltung oder Unsportlichkeit zu tun und kann gut behandelt
            werden.
            Warum diese Diagnose nicht so schlimm ist, wie es gerade scheint, erfährst Du bei uns.</p>
        <button class="green">
            <a href="betroffene.html">Ein paar Wegweiser</a>
        </button>
    </div>
    <div class="patients_ImgContainer">
        <img src="assets/images/skoliose-graphic.svg" alt="Grafische Darstellung von Skoliose">
    </div>
</div>