<div class="physio_ImgContainer">
    <img src="assets/images/patients-graphic.png" alt="Grafische Darstellung von Skoliose">
</div>
<div class="physio_TextContainer">
    <h2>Wie kann Skolio Deinen Patient:innen helfen?</h2>
    <p class="large">Skolio für Physiotherapeut:innen</p>
    <p class="normal">Die App unterstützt Deine Patient:innen bei der regelmäßigen Durchführung der Übungen außerhalb
        der Therapie-Termine. Wie Du Skolio in Deiner Praxis nutzen und damit Deine Arbeit erleichtern kannst, erfährst Du bei uns. </p>
    <button class="red">
        <a href="specialists.html">Erste Schritte</a>
    </button>
</div>