<div class="physio_ContentWrapper">
    <div class="physio_ImgContainer">
        <img src="assets/images/physio-screenshot.svg" alt="Screenshot der Skolio-App">
    </div>
    <div class="physio_TextContainer">
        <div class="physio_TextWrapper">
            <h2>Wie kann Skolio Deinen Patient:innen helfen?</h2>
            <p class="large">Skolio für Physiotherapeut:innen</p>
            <p class="normal">Die App unterstützt Deine Patient:innen bei der regelmäßigen Durchführung der Übungen außerhalb
                der Therapie-Termine. Wie Du Skolio in Deiner Praxis nutzen und damit Deine Arbeit erleichtern kannst, erfährst Du bei uns. </p>
            <button class="green">
                <a href="fachleute.html">Erste Schritte</a>
            </button>
        </div>
    </div>
</div>
