<div class="Preamble_Container">
    <div class="Preamble_Background">
        <img src="assets/images/preamble-background.svg" alt="Hintergrundbild für das Titelbild">
    </div>
    <div class="container">
        <div class="Preamble_BrandWrapper">
            <img src="assets/images/skolio-logo.svg" alt="Skolio Logo">
        </div>
        <div class="FlexDiv Preamble_ContentContainer">
            <div class="Preamble_ContentWrapper FlexColumn">
                <h1>We’ve got your back.</h1>
                <p class="large">Der Rückhalt für Dich und Deine Skoliose</p>
                <div class="Preamble_Links">
                    <a class="googlePlay" href='https://play.google.com/store/apps/details?id=com.eryushion.skolio&hl=de&gl=US&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                        <img alt='Jetzt bei Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/de_badge_web_generic.png'/>
                    </a>
                    <a class="appStore" href="https://apps.apple.com/us/app/skolio/id1574215463?itsct=apps_box_badge&amp;itscg=30200">
                        <img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/de-de?&amp;releaseDate=1630713600&h=42726142a38a4714dd146f54fd1a3888" alt="Download on the App Store">
                    </a>
                </div>
            </div>
            <div class="Preamble_ImageWrapper">
                <img src="assets/images/preamble-screenshot.png" alt="Screenshots der Skolio-App">
            </div>
        </div>
    </div>
</div>