<div class="app_UpperContainer">
    <h2>Das ist Skolio</h2>
    <p class="large">Die App zur Unterstützung bei Deinen täglichen Skoliose-Übungen</p>
    <p class="normal">
        Skolio ist eine Anlaufstelle auf dem eigenen Smartphone, die sowohl Patient:innen als auch Physiotherapeut:innen bei der Skoliosetherapie unterstützt.<br>
        Bei Skoliose ist es wichtig, regelmäßig spezifische Übungen für den Rücken zu machen, damit sich mögliche Beschwerden oder die Skoliose nicht verschlechtern.<br>
        Leider ist es nicht möglich jeden Tag zur Physiotherapie zu gehen und das Üben zu Hause vergisst man leicht.<br>
        Genau dafür wurde die Skolio-App entwickelt!
    </p>
</div>
<div class="app_LowerContainer">
    <div class="app_ImageContainer">
        <img src="assets/images/app-main-screenshots.svg" alt="Screenshots der Skolio-App">
    </div>
    <div class="FeatureContainer">
        <div class="FeatureWrapper">
            <div class="FeatureIcon">
                <img src="assets/images/app-feature-training.svg" alt="Hantel Icon">
            </div>
            <div class="FeatureText">
                <p class="large FeatureHeading">Professionell erstellte Übungen</p>
                <p class="normal">Skolio bietet voreingestellte Standardübungen, die von einem Physiotherapeuten erarbeitet worden sind.</p>
            </div>
        </div>
        <div class="FeatureWrapper">
            <div class="FeatureIcon">
                <img src="assets/images/app-feature-checklist.svg" alt="Listen Icon">
            </div>
            <div class="FeatureText">
                <p class="large FeatureHeading">Individueller Trainingsplan</p>
                <p class="normal">Zusammen mit dem oder der Physiotherapeut:in können Patient:innen die passenden Übungen für zu Hause festlegen.</p>
            </div>
        </div>
        <div class="FeatureWrapper">
            <div class="FeatureIcon">
                <img src="assets/images/app-feature-calender.svg" alt="Kalender Icon">
            </div>
            <div class="FeatureText">
                <p class="large FeatureHeading">Schneller und einfacher Überblick</p>
                <p class="normal">Mit Skolio lassen sich Trainingsaktivitäten leicht organisieren und übersichtlich darstellen.</p>
            </div>
        </div>
        <button class="green">
            <a href="skolioApp.html">Über Skolio</a>
        </button>
    </div>
</div>