---
layout: default
title: Blog
style: subpages/blog.css
---
<div class="container SubpageWrapper">
    <div class="Blog_ContentWrapper">
        <h1 class="SubpageHeading">Blog</h1>
        {% for post in site.posts %}
        {% assign author = site.data.authors[post.author] %}
            <div class="Blog_PersonWrapper">
                {% if author %}
                    <div class="Blog_PersonImage">
                        <img src="assets/images/{{ author.img }}" alt="Bild {{ author.name }}">
                        <p class="normal">{{ author.name }}</p>
                    </div>
                {% endif %}
                <div class="Blog_PostContent">
                    <h2>{{ post.title }}</h2>
                    {{ post.excerpt }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>