/* Color Definitions */
/* Primary Color */
/* Secondary Color */
/* Accent Color */
/* Standard Colors */
/* Specialists page Styling */
.Specialists_FeatureWrapper { width: 75%; }
@media (max-width: 575.98px) { .Specialists_FeatureWrapper { width: 100%; padding: 0 10px; } }

.Specialists_Link br { display: none; }
@media (max-width: 575.98px) { .Specialists_Link { margin-bottom: 10px; }
  .Specialists_Link br { display: block; } }

.Specialists_ImgWrapper { width: 35%; position: absolute; right: 0; bottom: 60px; display: flex; justify-content: right; }
.Specialists_ImgWrapper img { width: 80%; object-fit: cover; }
@media (max-width: 575.98px) { .Specialists_ImgWrapper { bottom: unset; top: -110px; } }

.app_FeatureContainer { width: 75%; margin-top: 60px; }
.app_FeatureContainer div:first-child { margin-top: 0; }
@media (max-width: 575.98px) { .app_FeatureContainer { width: 100%; margin-top: 50px; } }

.app_FeatureWrapper { display: flex; margin: 50px 0; gap: 25px; }
@media (max-width: 575.98px) { .app_FeatureWrapper { margin: 15px 0; gap: 10px; } }

.app_FeatureIcon { align-self: center; }
@media (max-width: 575.98px) { .app_FeatureIcon { align-self: start; } }

.app_FeatureText p:nth-child(2) { margin-bottom: 0; }

.app_FeatureHeading { font-family: "Mulish-Bold", sans-serif; margin-bottom: 8px; }
