name: Deploy Website

# Controls when the workflow will run
on:
  # Triggers the workflow on push events for the publish branch
  push:
    branches: [ publish ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      # Whether to build the site without deploying it (e.g. testing purposes)
      build-only:
        name: Build Only
        description: Build the site without deploying it
        required: true
        default: true
        type: boolean
  
  workflow_call:

jobs:
  github-pages:
    name: Deploying ${{ github.ref_type }} ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:

      # Log Input
      - name: Log Input
        run: "echo Build Only: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.build-only == 'true' }}"

      # Checkout git branch
      - name: Checkout
        uses: actions/checkout@v3.0.2
        with:
          ref: publish

      # Cache gems
      - name: Cache Gems
        uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Set safe directory
        run: git config --global --add safe.directory /github/workspace

      # Build the site and push new state to branch gh-pages
      - name: Run Jekyll
        uses: helaili/jekyll-action@2.3.1    # Choose any one of the Jekyll Actions
        with:                                # Some relative inputs of your action
          keep_history: true
          token: ${{ secrets.GITHUB_TOKEN }}
          build_only: true #${{ github.event_name == 'workflow_dispatch' && github.event.inputs.build-only == 'true' }}
